#image{
    width: 50%;
    max-width: 100%;
    margin: 10px auto;
    padding: 5px;
    height: auto;
    display: block;
  }
  
  #img-div{
    align-items: center;
    background-color: rgb(108, 93, 44);
    text-align: center;
    color: black;
    margin: 2px;
    color: white;
    padding: 12px 0;
  }

  #title{
    padding: 10px;
    text-align: center;
  }
  
  main{
    text-align: center;
  }

  body{
    background-color: burlywood;
  }
  