* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}
  
.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

.gallery{
    /* Une todo en una linea*/
    display: flex;
    /*direccion en la que empieza la union*/
    flex-direction: row;
    /*ajuste de union al ancho de la pantalla*/
    flex-wrap: wrap;
    /* Centrado horizontal */
    justify-content: center;
    /* Alineacion vertical */
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    /* Espacio entre elementos*/
    gap: 16px;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    /*Ajusta la imagen*/
    object-fit: cover;
    border-radius: 10px;
  }

/* after crea un nuevo elemento al final del flex */
  .gallery::after {
    content: "";
    width: 350px;
  }
